.awesomeTree ul li {
   list-style: none outside;
}

.awesomeTree li {
    
}

.awesomeTree .node-selected {
    outline: dashed 1px #0000ff;
    display: inline-block;
}

.ui-draggable-helper {
    color: #fff;
    background: #000;
    opacity: 0.1;
    cursor: pointer;
    padding: 2px 4px;
    list-style: none outside;
}